{% extends '::base.html.twig' %}

{% block title %}
    What to Eat?
{% endblock %}

{% block body %}



    <h1>What Should I Eat?
        {% if recommended %}
            <span class="recommended">{{ recommended.getName() }}</span>
        {% endif %}
    </h1>

    {{ form(form) }}

    {% if availableIngredients %}
        <h2>Available Ingredients</h2>
        <table class="table table-bordered">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Used By Date</th>
                <th>Used By Status</th>
            </tr>
            {% for availableIngredient in availableIngredients %}
                <tr>
                    <td>{{ availableIngredient.getName() }} </td>
                    <td>{{ availableIngredient.getQuantity() }} </td>
                    <td>{{ availableIngredient.getUnit() }} </td>
                    <td>{{ availableIngredient.getUsedByDate().format('jS M Y') }} </td>
                    <td>
                        {% if availableIngredient.isUsedByDateExpired() %}
                            <span class="label label-danger">Expired</span>
                        {% else %}
                            <span class="label label-success">Valid</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Recipies</h2>
    {% if recipies is not null %}

        {% for recipe in recipies %}
            <h3>
                {{ recipe.getName() }}
                {% if recipe.recommended() %}
                    :: Eat This!
                {% endif %}
            </h3>
            {% if recipe.getIngredients() is not null %}
                <table class="table table-bordered">
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                    {% for ingredient in recipe.getIngredients() %}
                        <tr>
                            <td>{{ ingredient.getName() }} </td>
                            <td>{{ ingredient.getQuantity() }} </td>
                            <td>{{ ingredient.getUnit() }} </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}




